@{
  Layout = "_Layout";
}

@using Help.Models;
@model List<Help.Models.Review>;
<br>
<h1>Reviews</h1>

@if (@Model.Count == 0)
{
  <h3>You haven't added your review yet!</h3>
} 

@foreach (Review review in Model)
{
  <li>@Html.ActionLink($"{review.Headline}", "Details", new { id = review.ReviewId })</li>
}
<br>
<p>@Html.ActionLink("Add your review", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>