@{
  Layout = "_Layout";
}
<div class="container">
<br>
<h1>Welcome!</h1>
<h2>Review a Restaurant</h2>
<br>
<a href='/Reviews/Index'><button type="button" class="btn btn-secondary" style="width:150px">Leave a Review</button></a><br><br>

<p>@Html.ActionLink("Home", "Index", "Home",null, new { @class = "btn btn-secondary"})</p>


</div>