@{
  Layout = "_Layout";
}

<h1>Welcome!</h1>
<h2>Leave Your Restaurant Review</h2>
<br>
<a href='/Restaurants/Index'><button type="button" class="btn btn-secondary" style="width:150px">Select Restaurant</button></a><br><br>

<p>@Html.ActionLink("Home", "Index", "Home",null, new { @class = "btn btn-secondary"})</p>