@{
  Layout = "_Layout";
}

<h1>HELP!</h1>
<h2>User Reviews and Recommendations of Best Restaurants</h2>
<br>
<a href='/Users/Index'><button type="button" class="btn btn-secondary" style="width:150px">Enter as User</button></a><br><br>
<a href='/Owners/Index'><button type="button" class="btn btn-secondary" style="width:150px">Enter as Restaurant Owner</button></a>
